/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-basic: 'Inter-Variable', 'Arial', sans-serif;
  --font-accent: 'PressStart2P', 'Copperplate', fantasy;
  --font-weight-card-text: 400;
  --font-weight-card-title: 700;
  --bg-color: #FFF;
  --button-text: #000;
  --button-bg: #FFF;
  --accent-color: #000;
  --bg-image:
    repeating-linear-gradient(90deg, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(0deg, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --heart-contour-color: #000;
  --heart-fill-color: #FF0000;
}